<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="audience" class="com.dataart.retman.beans.impl.Audience"/>
    <bean id="saxophone" class="com.dataart.retman.beans.impl.musical.instrument.Saxophone"/>
    <bean id="kenny" class="com.dataart.retman.beans.impl.Instrumentalist">
        <property name="instrument" ref="saxophone"/>
    </bean>

    <bean id="volunteer" class="com.dataart.retman.beans.impl.Volunteer"/>
    <bean id="magician" class="com.dataart.retman.beans.impl.Magician"/>

    <bean id="graciousContestant" class="com.dataart.retman.beans.impl.GraciousContestant"/>

    <aop:config>
        <aop:aspect>
            <aop:declare-parents types-matching="com.dataart.retman.beans.Performer+"
                                 implement-interface="com.dataart.retman.beans.Contestant"
                                 delegate-ref="graciousContestant"/>
        </aop:aspect>

        <aop:aspect ref="magician">
            <aop:pointcut id="thinking"
                          expression="execution(* com.dataart.retman.beans.Thinker.thinkOfSomething(String)) and args(thougts)"/>

            <aop:before pointcut-ref="thinking" method="interceptThoughts" arg-names="thougts"/>
        </aop:aspect>

        <aop:aspect ref="audience">
            <aop:pointcut id="performance" expression="execution(* com.dataart.retman.beans.Performer.perform(..))"/>

            <!--<aop:before pointcut-ref="performance" method="takeSeats"/>-->
            <!--<aop:before pointcut-ref="performance" method="turnOffCellPhones"/>-->
            <!--<aop:after-returning pointcut-ref="performance" method="applaud"/>-->
            <!--<aop:after-throwing pointcut-ref="performance" method="demandRefaund"/>-->

            <aop:around method="watchPerformance" pointcut-ref="performance"/>

        </aop:aspect>
    </aop:config>

</beans>